
.dishes__type ul {
    @for $b from 0 through 2 {
        li:nth-child(#{$b + 1}) {
            animation-delay: #{$b * 0.3}s;
        }
    }
}

@for $i from 0 through 3 {
    .dishes__type:nth-child(#{$i + 1}) {
        animation-delay: #{$i * 0.3}s;
    }
}


.dishes {
    width: 100%;
    margin-top: -65px;
    background-color: #f5f6f6;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    padding: 32px 17px;

    @media screen and (min-width: 992px) {
        max-width: 1055px;
        width:75%;
        margin:0 auto;
        padding: 47px 10%;
        margin-top:-90px;
    }

   

    &__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3 {
            font-family: 'Shrikhand';
            font-style: italic;
            font-weight: 400;
            font-size: 28px;
            line-height: 41px;
            
        }

        @media screen and (min-width: 992px) {
            margin:0 auto;
            width:307px;
        }
        
    }
    &__favorite {
        font-size: 22px;
        position:relative;
        i {
            opacity: 0;
            font-size: 22px;
            transition: all 0.2s;
            position: absolute;
            right: 10px;
            top: -12px;
            
        }

        i.fa-solid {
            opacity: 0;
        }

        i.fa-regular {
            opacity: 1;
        }

        &:hover{
            // background-color: red;
            i.fa-solid {
                opacity: 1;
                background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            i.fa-regular {
                opacity: 0;
            }
        }
    }

    &__type {
        margin-top:40px;
        animation-name: horizontalFadeIn;
        animation-duration: 2s;
        margin-left: 200px;
        opacity: 0;
        animation-fill-mode: forwards;
        h4{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            text-transform: uppercase;
        }
        hr.type_hr {
            border-color: #99E2D0;
            border-width: 1.5px;
            border-style:solid;
            margin-top: 6px;
            margin-bottom: 6px;
            width: 40px;
        }

        ul {
            li {
                font-family: 'Roboto';
                font-style: normal;
            
                display:flex;
                align-items: center;
                background-color: white;
                height:68px;
                box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
                border-radius: 15.0431px;
                overflow: hidden;
                animation-name: horizontalFadeIn;
                animation-duration: 2s;
                margin-left: 200px;
                opacity: 0;
                animation-fill-mode: forwards;
                
                gap: 10.03px;
                margin-bottom: 12px;
                .about {
                    position:relative;
                    padding: 12.0345px 6px;
                    width: 100%;
                    h5 {
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 21px;
                    }

                    p {
                        font-weight: 300;
                        font-size: 15px;
                        line-height: 18px;
                    }
                }

                .check-mark, .about {
                    transition: width 0.5s;
                }

                .check-mark {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 0px;
                    background-color:#99E2D0;
                    height:100%;
                    i {
                        font-size: 21px;
                        color: white;
                        opacity: 0;
                        transition: opacity 0.5s;
                    }
                }

                &:hover {
                    .check-mark {
                        width: 60px;
                        i {
                            opacity: 1;
                        }
                    }
                }
                .price {
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                    font-weight: 700;
                    font-size: 15px;
                    line-height: 18px;
                }
            }
        }
    }



    .container {
        margin-top: 28px;
        width: 100%;
        display:flex;
        align-items: center;
        justify-content: center;
        .btn {
            width: 186px;
        }
    }
}