section.hero {
    text-align: center;
    background-color: var(--theme-light-gray);
    padding-top:39px;
    padding-bottom:57px;
    h2 {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
    }
    p {
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        margin: 27px 42px;
    }
}