@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

:root {
  --theme-light-green: #99E2D0;
  --theme-green: #008766;
  --theme-light-blue: #89C8FA;
  --theme-blue: #003A68;
  --theme-purple: #9356DC;
  --theme-gray: #EAEAEA;
  --theme-light-gray:#F6F6F6;
}

header {
  position: relative;
  height: 63px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
header i {
  position: absolute;
  font-size: 20px;
  left: 23px;
  top: 26px;
  cursor: pointer;
  color: black;
}
header .logo {
  height: 36px;
  margin-bottom: 2px;
}
header .logo img {
  width: 162px;
}

section.location {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--theme-gray);
}
section.location p {
  width: 109px;
  font-size: 16px;
  position: relative;
}
section.location p i {
  left: -29px;
  position: absolute;
}

section.hero {
  text-align: center;
  background-color: var(--theme-light-gray);
  padding-top: 39px;
  padding-bottom: 57px;
}
section.hero p {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  margin: 27px 42px;
}

.how-it-works .step {
  margin-left: 12px;
  display: flex;
  position: relative;
  align-items: center;
  padding: 27px 33px;
  width: calc(100% - 12px);
  height: 72px;
  border-radius: 20px;
  background-color: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  margin-bottom: 25px;
  transition: all 0.3s;
}
.how-it-works .step--highlight:hover {
  background-color: #F5EDFF;
}
.how-it-works .step--highlight:hover i {
  color: #9356DC;
}
.how-it-works .step i {
  margin-right: 27px;
  width: 24px;
  height: 24px;
  font-size: 20px;
  color: #7E7E7E;
}
.how-it-works .step .badge {
  position: absolute;
  left: -12px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--theme-purple);
  border-radius: 50%;
  color: white;
  font-size: 14px;
}
.how-it-works .steps {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 992px) {
  .how-it-works .steps {
    flex-direction: row;
  }
  .how-it-works .steps .step {
    margin-right: 24px;
  }
}

.restaurants {
  background-color: var(--theme-light-gray);
}
.restaurants .cards .card {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-bottom: 18px;
}
.restaurants .cards .card__image {
  position: relative;
  height: 220px;
}
.restaurants .cards .card__image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.restaurants .cards .card__like {
  position: absolute;
  top: 0px;
  right: 12px;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
}
.restaurants .cards .card__like i {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  font-size: 20px;
  transition: all 0.2s;
}
.restaurants .cards .card__like i.fa-solid {
  opacity: 0;
}
.restaurants .cards .card__like i.fa-regular {
  opacity: 1;
}
.restaurants .cards .card__like:hover i.fa-solid {
  opacity: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurants .cards .card__like:hover i.fa-regular {
  opacity: 0;
}
.restaurants .cards .card__notice {
  position: absolute;
  top: 18px;
  right: 18px;
  padding: 7px 8px;
  color: #008766;
  background: #99E2D0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  border-radius: 2px;
}
.restaurants .cards .card__info {
  position: relative;
  margin: 16px 12px;
}
.restaurants .cards .card__info h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
.restaurants .cards .card__info p {
  font-weight: 300;
  font-size: 17px;
  line-height: 20px;
}
@media screen and (min-width: 992px) {
  .restaurants {
    overflow: hidden;
    overflow-x: auto;
  }
  .restaurants .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 32px;
    width: 150%;
  }
  .restaurants .cards article.card {
    flex-shrink: 0;
    width: 335px;
  }
}

footer {
  background-color: #353535;
  padding: 22px 25px;
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
footer h3 {
  font-family: "Shrikhand";
  font-style: italic;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 16px;
}
footer ul li {
  margin-bottom: 7px;
  cursor: pointer;
}
footer ul li i {
  width: 13px;
  height: 13px;
  font-size: 13px;
  margin-right: 10px;
}
footer ul li:nth-child(1), footer ul li:nth-child(2) {
  font-weight: 500;
}
@media screen and (min-width: 992px) {
  footer {
    height: 114px;
  }
  footer .container {
    display: flex;
    height: 100%;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    column-gap: 71px;
  }
  footer .container h3 {
    margin: 0;
  }
  footer .container ul {
    display: flex;
    column-gap: 40px;
  }
  footer .container ul li {
    margin: 0;
  }
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 10000;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  transition: all 0.3s;
  animation: loader-fading-animation 5000ms forwards, loader-index 5100ms forwards;
}
.loader .circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px dashed var(--theme-purple);
  transition: none;
  animation: circle-spinning 2000ms infinite linear, circle-fading 3000ms forwards;
}
@keyframes circle-spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes circle-fading {
  89% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loader-fading-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loader-index {
  0% {
    z-index: 10000;
  }
  98% {
    z-index: 10000;
  }
  100% {
    z-index: -10000;
  }
}

.banner {
  height: 275px;
  margin: 0;
  padding: 0;
}
.banner img {
  position: relative;
  z-index: -100;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .banner {
    height: 423px;
    overflow: hidden;
  }
}

.dishes__type ul li:nth-child(1) {
  animation-delay: 0s;
}
.dishes__type ul li:nth-child(2) {
  animation-delay: 0.3s;
}
.dishes__type ul li:nth-child(3) {
  animation-delay: 0.6s;
}

.dishes__type:nth-child(1) {
  animation-delay: 0s;
}

.dishes__type:nth-child(2) {
  animation-delay: 0.3s;
}

.dishes__type:nth-child(3) {
  animation-delay: 0.6s;
}

.dishes__type:nth-child(4) {
  animation-delay: 0.9s;
}

.dishes {
  width: 100%;
  margin-top: -65px;
  background-color: #f5f6f6;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  padding: 32px 17px;
}
@media screen and (min-width: 992px) {
  .dishes {
    max-width: 1055px;
    width: 75%;
    margin: 0 auto;
    padding: 47px 10%;
    margin-top: -90px;
  }
}
.dishes__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dishes__heading h3 {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 28px;
  line-height: 41px;
}
@media screen and (min-width: 992px) {
  .dishes__heading {
    margin: 0 auto;
    width: 307px;
  }
}
.dishes__favorite {
  font-size: 22px;
  position: relative;
}
.dishes__favorite i {
  opacity: 0;
  font-size: 22px;
  transition: all 0.2s;
  position: absolute;
  right: 10px;
  top: -12px;
}
.dishes__favorite i.fa-solid {
  opacity: 0;
}
.dishes__favorite i.fa-regular {
  opacity: 1;
}
.dishes__favorite:hover i.fa-solid {
  opacity: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.dishes__favorite:hover i.fa-regular {
  opacity: 0;
}
.dishes__type {
  margin-top: 40px;
  animation-name: horizontalFadeIn;
  animation-duration: 2s;
  margin-left: 200px;
  opacity: 0;
  animation-fill-mode: forwards;
}
.dishes__type h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}
.dishes__type hr.type_hr {
  border-color: #99E2D0;
  border-width: 1.5px;
  border-style: solid;
  margin-top: 6px;
  margin-bottom: 6px;
  width: 40px;
}
.dishes__type ul li {
  font-family: "Roboto";
  font-style: normal;
  display: flex;
  align-items: center;
  background-color: white;
  height: 68px;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  border-radius: 15.0431px;
  overflow: hidden;
  animation-name: horizontalFadeIn;
  animation-duration: 2s;
  margin-left: 200px;
  opacity: 0;
  animation-fill-mode: forwards;
  gap: 10.03px;
  margin-bottom: 12px;
}
.dishes__type ul li .about {
  position: relative;
  padding: 12.0345px 6px;
  width: 100%;
}
.dishes__type ul li .about h5 {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}
.dishes__type ul li .about p {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
}
.dishes__type ul li .check-mark, .dishes__type ul li .about {
  transition: width 0.5s;
}
.dishes__type ul li .check-mark {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0px;
  background-color: #99E2D0;
  height: 100%;
}
.dishes__type ul li .check-mark i {
  font-size: 21px;
  color: white;
  opacity: 0;
  transition: opacity 0.5s;
}
.dishes__type ul li:hover .check-mark {
  width: 60px;
}
.dishes__type ul li:hover .check-mark i {
  opacity: 1;
}
.dishes__type ul li .price {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}
.dishes .container {
  margin-top: 28px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dishes .container .btn {
  width: 186px;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.how-it-works, .restaurants {
  padding: 48px 20px 68px 20px;
}
.how-it-works h2, .restaurants h2 {
  margin-bottom: 26px;
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 1050px;
    margin: 0 auto;
  }
}
@keyframes horizontalFadeIn {
  0% {
    opacity: 0;
    margin-left: 200px;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}
.btn {
  padding: 13px 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: white;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s;
}
.btn--highlight:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  border-radius: 25px;
}

/*# sourceMappingURL=style.css.map */
