h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

a {
    text-decoration: none;
    color: black;
}

.how-it-works, .restaurants {
    padding: 48px 20px 68px 20px;
    h2 {
        margin-bottom: 26px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 1050px;
        margin: 0 auto;
    }
}

@keyframes horizontalFadeIn {
    0% {
        opacity: 0;
        margin-left: 200px;
    }

    100% {
        opacity: 1;
        margin-left: 0px;
    }
}