:root {
    --theme-light-green: #99E2D0;
    --theme-green: #008766;
    --theme-light-blue: #89C8FA;
    --theme-blue: #003A68;
    --theme-purple: #9356DC;
    --theme-gray: #EAEAEA;
    --theme-light-gray:#F6F6F6;
}